/*
*
*   Body Content
*
*/


/* Body Header */
.body-header {
    /* background-color: tomato; */
    width: 100%;
    height: 60px;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    
    box-shadow: .5px .5px 5px grey;
}

.body-header-category {
    /* background-color: tomato; */
    width: 1170px;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0%;
}
.body-header-category a{
    color: black;
}
.body-header-category a.round {
    color: blue;
    border: 1px solid blue;
}

/* .body-header-category span {
    font-size: 11.8px;
} */

.body-category-heading {
    font-size: 11.7px;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.body-category-title-all {
    font-size: 10.8px;
    background-color: #f5f5f5;
    margin-left: 21px;
    padding: 6.75px 27.5px;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    padding-top: 8.75px;
    padding-right: 31.5px;
}
/* .body-category-text {display: block; padding-top: 2px;padding-right: 3px;} */

.body-category-title-photo {
    font-size: 10.8px;
    background-color: #f5f5f5;
    margin-left: 15px;
    padding: 8px 26px;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 28px;
    letter-spacing: 0.6px;
}
/* .body-category-text-photo {display: block; padding-top: 2px;padding-left: 2px;letter-spacing: 0.6px;} */


.body-category-title-life {
    font-size: 10.8px;
    background-color: #f5f5f5;
    margin-left: 15px;
    padding: 8px 28px;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 30px;
    letter-spacing: 0.6px;
}
/* .body-category-text-life {display: block; padding-top: 2px;padding-left: 2px;letter-spacing: 0.6px;} */

.body-category-title-trip {
    font-size: 10.8px;
    background-color: #f5f5f5;
    margin-left: 15px;
    padding: 8px 26px;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 28px;
    letter-spacing: 0.6px;
}
/* .body-category-text-trip {display: block; padding-top: 2px;padding-left: 2px;letter-spacing: 0.6px;} */

.body-category-title-inspi {
    font-size: 10.8px;
    background-color: #f5f5f5;
    margin-left: 15px;
    padding: 8px 24px;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 24px;
    letter-spacing: 0.6px;
}
/* .body-category-text-inspi {display: block; padding-top: 2px;padding-left: 2px;letter-spacing: 0.6px;} */



/* .body-category-title{
    font-size: 10px;
    background-color: #f5f5f5;
    padding: 8px 27px;
    align-items: center;
    display: flex;
    border-radius: 20px;
    margin-left: 15px;
} */


/* Body Content */

.body-content {
    background-color: #f5f5f5;
    width: 100%;
    height: 2305px;
    justify-content: right;
    display: flex;
}

.body-items {
    background-color: #f5f5f5;
    width: 1259px;
    height: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0%;
}




.left-body-items {
    background-color: transparent;
    width: 820px;
    height: auto;
    margin: 30px 20px 0px 0px;
}
.left-body-items .custom-card {
    background-color: blue;
    border-radius: 5px;
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.left-body-items .custom-card .custom-video {
    background: url('/assets/img/body-vid-content-img.png') black;
    background-color: gold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* background-size: contain; */
    width: 820px;
    height: 420px;
    background-size: cover;
    background-position: center center;
    display: flex;
    margin: 0%;
    padding: 0%;
}
.left-body-items .custom-card .video-title {
    background-color: #fff;
    height: 108px;
    width: 820px;
    /* justify-content: center; */
    display: flex;
    flex-flow: column;
    margin: 0%;
    padding: 0%;
    border-bottom: 1px solid rgba(0,0,0,0.122);
    
}
.left-body-items .custom-card .video-title .title {
    margin: 15px 20px 3px 20px;
    font-weight: bold;
    font-size: 19px;
}
.left-body-items .custom-card .video-title .body {
    margin: 3px 20px 7px 20px;
    line-height: 26px;
}
.left-body-items .custom-card .user-details {
    background-color: #fff;
    width: 820px;
    height: 92px;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: space-between;
    align-items: center;
}
.left-body-items .custom-card .user-details .user {
    /* background-color: red; */
    align-content: space-between;
    justify-content: space-between;
    display: flex;
}
.left-body-items .custom-card .user-details .user .user-img {
    background: url('/assets/img/vid_user_img.png');
    margin: 10px 10px 10px 20px;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    /* text-align: center; */
    /* vertical-align: middle; */
    /* align-content: center; */
    align-items: center;
    /* align-self: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    display: flex;
}
.left-body-items .custom-card .user-details .user .user-content {
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-flow: column;
}
.left-body-items .custom-card .user-details .user .user-content .user-title {
    margin-top: 0px;
    margin-right: 0px;
    color: black;
    font-size: 14px;
    word-spacing: 0.3px;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.left-body-items .custom-card .user-details .user .user-content .user-body {
    margin-top: 7px;
    color: gray;
    font-size: 12px;
    font-weight: 400;
    word-spacing: 1.6px;
    letter-spacing: 0.6px;
}
.left-body-items .custom-card .user-details .user-icon {
    /* background-color: aqua; */
    margin-right: 10px;
}


/* Custom Box (3 vertical container) */
.left-body-items .custom-boxes {
    border-radius: 5px;
}
.left-body-items .custom-box-a,
.left-body-items .custom-box-b,
.left-body-items .custom-box-c {
    border-radius: 5px;
    margin-top: 21px;
    background-color: #fff;
    height: 165px;
    width: 100%;
    display: flex;
    flex-flow: row;
    filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.12));
}
.left-body-items .custom-box-c {
    margin-top: 20px;
}
.left-body-items .custom-boxes .user-img {
    width: 260px;
    height: 100%;
    justify-content: end;
    display: flex;
    flex-flow: column;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.left-body-items .custom-box-a .user-img {
    background: url('/assets/img/custom-box-img/body-content-card-img-1.png');
    background-size: cover;
    background-position: center center;
}
.left-body-items .custom-box-b .user-img {
    background: url('/assets/img/custom-box-img/body-content-card-img-2.png');
    background-size: cover;
    background-position: center center;
}
.left-body-items .custom-box-c .user-img {
    background: url('/assets/img/custom-box-img/body-content-card-img-3.png');
    background-size: cover;
    background-position: center center;
}
.left-body-items .custom-boxes .user-img .play-btn {
    align-self: center;
    display: flex;
}
.left-body-items .custom-boxes .user-img .play-btn .fa-play::before {
    margin-left: 4px;
}
.left-body-items .custom-boxes .user-img .some-other-icons {
    margin: 28px 19px 16px 18px;
    justify-content: space-between;
    display: inline-flex;
}
.left-body-items .custom-boxes .user-img .some-other-icons span {
    color: #ffffff;
    font-size: 12px;
    align-self: center;
    display: flex;
} 
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons {
    justify-content: space-between;
    display: flex;
}
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons .comment-icon {
    margin-right: 20px;
    font-size: 12px;
    display: flex;
} 
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons .like-icon {
    font-size: 12px;
    display: flex;
} 
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons .like-icon i {
    font-size: 13px;
}
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons .comment-icon .material-icons {
    font-size: 17px;
}
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons .like-icon i {
    align-self: center;
}
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons .like-icon .tit,
.left-body-items .custom-boxes .user-img .some-other-icons .social-icons .comment-icon .tit {
    margin-left: 7px;
    font-size: 12px;
    letter-spacing: 0.8px;
}


.left-body-items .custom-boxes .custom-box-content {
    color: black;
    width: 560px;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-vid-content {
    padding: 10px 15px 14px 18px;
    border-bottom: 1px solid rgba(0,0,0,0.122);
}
.left-body-items .custom-boxes .custom-box-content .custom-box-vid-content .custom-box-title {
    letter-spacing: 0.4px;
    font-weight: bold;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-vid-content .custom-box-desc {
    padding-top: 9px;
    font-size: 14px;
    line-height: 21px;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content .user {
    padding: 10px 15px 10px 20px;
    display: flex;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content .user .box-user-img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.left-body-items .custom-box-a .custom-box-content .custom-box-user-content .user .box-user-img {
    background: url("/assets/img/custom-box-img/user-img.png") no-repeat center center;
    background-position: center center;
    background-size: cover;
}
.left-body-items .custom-box-b .custom-box-content .custom-box-user-content .user .box-user-img {
    background: url("/assets/img/custom-box-img/user-img-2.png") no-repeat center center;
    background-position: center center;
    background-size: cover;
}
.left-body-items .custom-box-c .custom-box-content .custom-box-user-content .user .box-user-img {
    background: url("/assets/img/custom-box-img/user-img-3.png") no-repeat center center;
    background-position: center center;
    background-size: cover;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content .user .box-user-content {
    display: inline;
    text-decoration: none;
    align-self: center;
    padding-left: 11px;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content .user .box-user-content .box-user-title {
    font-weight: bold;
    display: flex;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.871;
    letter-spacing: 0.2px;
    padding-bottom: 1px;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content .user .box-user-content .box-user-desc {
    display: flex;
    color: #212121;
    opacity: 0.541;
    font-size: 12px;
    margin-top: 6px;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content .user-menu-icon {
    margin-right: 11px;
}
.left-body-items .custom-boxes .custom-box-content .custom-box-user-content .user-menu-icon .user-icon {
    color: black;
    text-decoration: none;
    display: flex;
}



/* Custom Pack (3 horizontal Container) */
.left-body-items .custom-packs {
    height: 420px;
    width: 820px;
    margin-top: 21px;
    display: flex;
}
.left-body-items .custom-pack-a,
.left-body-items .custom-pack-b,
.left-body-items .custom-pack-c {
    width: 260px;
    height: 420px;
    border-radius: 4px;
    filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.12));
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
}
.left-body-items .custom-pack-b,
.left-body-items .custom-pack-c {
    margin-left: 20px;
}

.left-body-items .custom-packs .user-img {
    width: 260px;
    height: 160px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    
    justify-content: end;
    display: flex;
    flex-flow: column;
}
.left-body-items .custom-packs .custom-pack-a .user-img {
    background: rgba(3,3,3,0.451) url("/assets/img/custom-pack-img/body-content-pack-img.png") no-repeat center center;
}
.left-body-items .custom-packs .custom-pack-b .user-img {
    background: rgba(3,3,3,0.451) url("/assets/img/custom-pack-img/body-content-pack-img-2.png") no-repeat center center;
}
.left-body-items .custom-packs .custom-pack-c .user-img {
    background: rgba(3,3,3,0.451) url("/assets/img/custom-pack-img/body-content-pack-img-3.png") no-repeat center center;
}

.left-body-items .custom-packs .custom-pack-c .user-img .user-img-slider-btns {
    width: 240px;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    display: flex;
    margin-bottom: 9px;
}
.left-body-items .custom-packs .custom-pack-c .user-img .user-img-slider-btns .left-slider-btn,
.left-body-items .custom-packs .custom-pack-c .user-img .user-img-slider-btns .right-slider-btn {
    color: #3f51b5;
    height: 36px;
    width: 36px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #ffffff;
    display: flex;
    font-size: 20px;
}
.left-body-items .custom-pack-a .user-img .play-btn,
.left-body-items .custom-pack-b .user-img .play-btn {
    align-self: center;
    display: flex;
}
.left-body-items .custom-pack-a .user-img .play-btn .fa-play::before,
.left-body-items .custom-pack-b .user-img .play-btn .fa-play::before {
    margin-left: 4px;
}
.left-body-items .custom-packs .user-img .some-other-icons {
    margin: 28px 19px 11px 18px;
    justify-content: space-between;
    display: inline-flex;
}
.left-body-items .custom-packs .user-img .some-other-icons span {
    color: #ffffff;
    font-size: 12px;
    align-self: center;
    display: flex;
} 
.left-body-items .custom-packs .user-img .some-other-icons .social-icons {
    justify-content: space-between;
    display: flex;
}
.left-body-items .custom-packs .user-img .some-other-icons .social-icons .comment-icon {
    margin-right: 20px;
    font-size: 12px;
    display: flex;
} 
.left-body-items .custom-pack-c .user-img .some-other-icons .social-icons .comment-icon {
    margin-right: 15px;
}
.left-body-items .custom-packs .user-img .some-other-icons .social-icons .like-icon {
    font-size: 12px;
    display: flex;
} 
.left-body-items .custom-packs .user-img .some-other-icons .social-icons .like-icon i {
    font-size: 13px;
}
.left-body-items .custom-packs .user-img .some-other-icons .social-icons .comment-icon .material-icons {
    font-size: 17px;
}
.left-body-items .custom-packs .user-img .some-other-icons .social-icons .like-icon i {
    align-self: center;
}
.left-body-items .custom-packs .user-img .some-other-icons .social-icons .like-icon .tit,
.left-body-items .custom-packs .user-img .some-other-icons .social-icons .comment-icon .tit {
    margin-left: 7px;
    font-size: 12px;
    letter-spacing: 0.8px;
}

.left-body-items .custom-packs .custom-pack-content {
    color: black;
    width: 260px;
    height: 260px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-vid-content {
    padding: 11px 20px 24px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.122);
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-vid-content .custom-pack-title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 24px;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-vid-content .custom-pack-desc {
    margin-top: 8px;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    line-height: 21px;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content .user {
    padding: 6px 8px 19px 20px;
    display: flex;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content .user .pack-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.left-body-items .custom-pack-a .custom-pack-content .custom-pack-user-content .user .pack-user-img {
    background: url("/assets/img/custom-box-img/user-img.png") no-repeat center center;
    background-size: cover;
}
.left-body-items .custom-pack-b .custom-pack-content .custom-pack-user-content .user .pack-user-img {
    background: url("/assets/img/custom-box-img/user-img-2.png") no-repeat center center;
    background-size: cover;
}
.left-body-items .custom-pack-c .custom-pack-content .custom-pack-user-content .user .pack-user-img {
    background: url("/assets/img/custom-box-img/user-img-3.png") no-repeat center center;
    background-size: cover;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content .user .pack-user-content {
    align-self: center;
    padding-left: 9px;
    display: inline;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content .user .pack-user-content .pack-user-title {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.871;
    letter-spacing: 0.6px;
    font-weight: 400;
    display: flex;
    margin-bottom: 7px;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content .user .pack-user-content .pack-user-desc {
    opacity: 0.541;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #212121;
    font-weight: 400;
    display: flex;
    margin-top: 6px;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content .user-menu-icon {
    margin-top: 4px;
    margin-right: 10px;
    display: flex;
}
.left-body-items .custom-packs .custom-pack-content .custom-pack-user-content .user-menu-icon .user-icon {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 90px;
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
}



/* Custom Bundle (2 horizontal Container) */

.left-body-items .custom-bundles{
    height: 540px;
    width: 820px;
    margin-top: 21px;
    display: flex;
}
.left-body-items .custom-bundles .custom-bundle-a,
.left-body-items .custom-bundles .custom-bundle-b {
    width: 400px;
    height: 540px;
    border-radius: 4px;
    filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.12));
    background-color: #ffffff;
}
.left-body-items .custom-bundles .custom-bundle-b {
    margin-left: 20px;
}
.left-body-items .custom-bundles .user-img {
    width: 400px;
    height: 300px;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: rgba(3,3,3,0.541) url("/assets/img/custom-bundle-img/custom-bundle-img-1.png") no-repeat center center;

    justify-content: end;
    display: flex;
    flex-flow: column;

}
.left-body-items .custom-bundle-b .user-img {
    background: rgba(3,3,3,0.541) url("/assets/img/custom-bundle-img/custom-bundle-img-2.png") no-repeat center center;
}
.left-body-items .custom-bundles .user-img .some-other-icons {
    margin: 10px 20px 17px 18px;
    justify-content: space-between;
    display: inline-flex;
}
.left-body-items .custom-bundles .user-img .some-other-icons span {
    color: #ffffff;
    font-size: 12px;
    align-self: center;
    display: flex;
}
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons {
    justify-content: space-between;
    display: flex;
}
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons .comment-icon {
    margin-right: 21px;
    font-size: 12px;
    display: flex;
} 
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons .like-icon {
    font-size: 12px;
    display: flex;
} 
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons .like-icon i {
    font-size: 13px;
}
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons .comment-icon .material-icons {
    font-size: 17px;
}
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons .like-icon i {
    align-self: center;
}
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons .like-icon .tit,
.left-body-items .custom-bundles .user-img .some-other-icons .social-icons .comment-icon .tit {
    margin-left: 7px;
    font-size: 12px;
    letter-spacing: 0.8px;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-vid-content {
    padding: 12px 20px 13px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.122);
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-vid-content .custom-pack-title {
    font-size: 18px;
    letter-spacing: 0.6px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}
.left-body-items .custom-bundle-b .custom-pack-content .custom-pack-vid-content .custom-pack-title{
    color: #3f51b5;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-vid-content .custom-pack-desc {
    margin-top: 4px;
    letter-spacing: 1px;

    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 400;

}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content {
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content .user{
    padding: 15px 8px 4px 20px;
    display: flex;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content .user .pack-user-img {
    background: url("/assets/img/custom-box-img/user-img.png") no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.left-body-items .custom-bundle-b .custom-pack-content .custom-pack-user-content .user .pack-user-img{
    background: url("/assets/img/custom-box-img/user-img-2.png") no-repeat center center;
    background-size: cover;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content .user .pack-user-content {
    align-self: center;
    padding-left: 9px;
    display: inline;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content .user .pack-user-content .pack-user-title {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.871;
    letter-spacing: 0.6px;
    font-weight: 400;
    display: flex;
    margin-bottom: 7px;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content .user .pack-user-content .pack-user-desc {
    opacity: 0.541;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #212121;
    font-weight: 400;
    display: flex;
    margin-top: 6px;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content .user-menu-icon {
    margin-top: 9px;
    margin-right: 11px;
    display: flex;
}
.left-body-items .custom-bundles .custom-pack-content .custom-pack-user-content .user-menu-icon .user-icon {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 90px;
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
}






.right-body {
    background-color: #ffffff;
    width: 684px;
    /* width: inherit; */
    border-top-left-radius: 4px;
    margin: 30px 0px 0px 20px;
}
.right-body-items {
    background-color: transparent;
    border-top-left-radius: 4px;
    justify-content: end;
    display: flex;
    width: 310px;
    height: 100%;
}

.right-body-items .item-1 {
    background-color: transparent;
    
    /* background: url('/assets/vid/pexels-karolina-grabowska-5743177.mp4') black; */
    height: 100%;
}

.right-body-items .search-box {
    margin-top: 23px;
    width: 268px;
    height: 43px;
    border-radius: 22px;
    background-color: #f5f5f5;
    border: 1px solid #ffffff;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.right-body-items .search-box .search-text[type="search" i] { 
    width: 210px;
    height: 25px;
    margin-left: 19px;
    padding-bottom: 2px;
    border-width: 0px;
    font-size: 16px;
    box-sizing: initial;
    outline-width: 0px;
    background-color: #f5f5f5;
}
.right-body-items .search-box .search-text[placeholder="Search" i] { 
    opacity: 0.380;
    font-size: 16px;
    /* letter-spacing: 1px; */
    color: #000000;
    font-weight: 400;
    /* font-family: "Open Sans"; */
}
.right-body-items .search-box .search-btn {
    margin-right: 4px;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    filter: drop-shadow(0px 2px 6.5px rgba(0,0,0,0.12));
    background-color: #ff4081;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
}
.right-body-items .search-box .search-btn i {
    padding: 0px;
    margin-bottom: 3px;
}

/* .right-body-items .search-box */
