
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}

.header{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

a {
    text-decoration: none;
}

/*
    Black Header Style
*/

.head-container{
    background: black;
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    display: flex;  
}

.custome-box{
    padding: 0;
    margin: 0;
    width: 1170px;
    /* background: red; */
    
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.container-icon a{
    text-decoration: none;
    margin-right: 10.6px;
}

.container-icon a:hover,
.container-icon a i:active,
.container-icon a i:hover{
    color: white;
}

.custome-icons{
    color: gray;
    font-size: 15px;
}

.custome-text{
    color: gray;
    margin-left: 4px;
    text-decoration: solid;
    font-family: 'Montserrat';
    font-size: small;
    font-style: normal;
}

#btnLanguage,
#btnSignIn {
    text-decoration: none;
    vertical-align: middle;
    color: gray;
}

.custome-text-language:hover,
.custome-text-language:active,
.custome-text-signin:hover,
.custome-text-signin:active,
#btnLanguage:hover,
#btnLanguage:active,
#btnSignIn:hover,
#btnSignIn:active,
.custome-text-language:hover,
.custome-text-language:active,
.custome-text-signin:hover,
.custome-text-signin:active,
.right-icons:hover,
.right-icons:active
{
    text-decoration: none;
    vertical-align: middle;
    color: white;
}


#btnLanguage:hover,
#btnLanguage:active,
.custome-text-language:hover,
.custome-text-language:active {
    text-decoration: none;
    vertical-align: middle;
    color: white;
}


/* #btnLanguage:link,
#btnLanguage:visited,
.custome-text-language:link,
.custome-text-language:visited
{
    text-decoration: none;
    color: gray;
}

#btnLanguage:hover,
#btnLanguage:active,
.custome-text-language:hover,
.custome-text-language:active
{
    color: white;
    text-decoration: none;
    font-style: normal;
}

#btnSignIn:link,
#btnSignIn:visited,
.custome-text-signin:link,
.custome-text-signin:visited
{
    color: gray;
    text-decoration: none;
}

#btnSignIn:hover,
#btnSignIn:active,
.custome-text-signin:hover,
.custome-text-signin:active
{
    color: white;
    text-decoration: none;
} */


.right-icons {
    color: gray;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    align-self: center;
}

.custome-text-signin,
.custome-text-language {
    font-size: 11px;
    margin-top: 2px;
    letter-spacing: 0.1px;
    word-spacing: 2.2px;
    font-family: 'Montserrat';
}

.vertical-line {
    border-right: 1px solid gray;
    margin-right: 13px;
    margin-left: 9px;
    height: 40px;
    align-items: center;
    vertical-align: middle;
}



.custome-icons:hover,
.custome-text:hover{
    color: white;
}

.custome-right-links:link,
.custome-right-links:visited{
    text-decoration: none;
    color: gray;
}

.custome-right-links:active,
.custome-right-links:hover{
    color: white;
}









/* 
    Main Header Style
*/

.header-content {
    height: 800px;
    width: 100%;
    background:
     linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url('../assets/img/Pasco_Free_Sample_Blog.png');
    
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-flow: column;
}

.header-menu-bar{
    /* background-color: blue; */
    /* background: rgba(
        0,0,0,.3
    );
    color: black; */
    height: 70px;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0;
}

.header-menu-bar a{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

.custome-brand-text {
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 24px;
}

.header-menus{
    align-items: center;
    align-content: center;
    display: flex;
}

.line{
    border-left: 1px solid white;
    height: 30px;
    align-items: center;
    text-align: center;
    display: inline-flex;
    /* margin-bottom: 2px; */
}

#search-icon {
    margin-right: 10px;
}

#favourite-icon{
    margin-left: 12px;
    margin-right:10px;
}

#shopping-icon{
    margin-left: 12px;
    margin-right:14px;
}

.custome-menu-icons{
    font-size: 24px;
    
    align-items: center;
    align-content: center;
    /* align-self: center; */
    /* display: inline-flex; */
}

#features-icon{
    margin-right: 56px;
    letter-spacing: 0.5px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#features-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#features-icon .menu-icon {
    font-size: 10px;
}


#components-icon{
    margin-right: 27px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#components-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#components-icon .menu-icon {
    font-size: 10px;
}

#shop-icon{
    margin-right: 26px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#shop-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#shop-icon .menu-icon {
    font-size: 10px;
}

#shop-icon{
    margin-right: 25px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#shop-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#shop-icon .menu-icon {
    font-size: 10px;
}



#pages-icon{
    margin-right: 27px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#pages-icon .menu-text {
    font-size: 14px;
    margin-right: 9px;
    font-weight: bold;
}
#pages-icon .menu-icon {
    font-size: 10px;
}



#blog-icon{
    margin-right: 29px;
    letter-spacing: 0.3px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#blog-icon .menu-text {
    font-size: 14px;
    margin-right: 9px;
    font-weight: bold;
}
#blog-icon .menu-icon {
    font-size: 10px;
}


#portfolio-icon{
    margin-right: 27px;
    letter-spacing: 0.2px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#portfolio-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#portfolio-icon .menu-icon {
    font-size: 10px;
}



#home-icon{
    /* background-color: blueviolet; */
    margin-right: 25px;
    letter-spacing: 0.2px;
    align-items: center;
    line-height: 66px;
}
#home-icon .menu-text {
    font-size: 14px;
    margin-right: 7px;
    font-weight: bold;
}
#home-icon .menu-icon {
    font-size: 10px;
}



hr.home-vertical-line{
    border: 2px solid magenta;
}



/* Slider Header */

.header-slide-bar{
    /* background-color: aqua; */
    height: 730px;
    width: 100%;
    /* opacity: .2; */
    display: inline-flex;
    justify-content: center;
    flex-flow: row;
    
}


.header-slide-bar .left {
    /* background-color: red; */
    /* opacity: .2; */
    height: 100%;
    width: 90px;
    /* float: left; */
    align-items: center;
    display: flex;
    justify-content: start;
}


.header-slide-bar .center {
    /* background-color: blue; */
    /* opacity: .2; */
    width: 1170px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    margin-top: 210px;
}
.center .content-title{
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.4px;
}
.center .content-body{
    /* background-color: blue; */
    color: white;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    padding: 8px 10px;
    letter-spacing: 1px;
    word-spacing: 3.2px;
}

.btn-readMore {
    /* background-color: blueviolet; */
    color: white;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    margin-top: 10px;
}

.readMore {
    background-color: blue;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    margin: 6px 2px;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 0.8px;
}

.header-bottom-user-img {
    text-align: center;
    margin-top: 70px;
}
.user-img{
    /* background-color: blue; */
    border-radius: 50%;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
}
.user-title {
    margin-top: 12px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.user-body {
    margin-top: 10px;
    color: white;
    font-size: 12px;
    font-weight: 200;
}
.bottom-user-info {
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
}
.social-comment {
    /* background-color: aqua; */
    /* text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center; */
    margin-right: 20px;
    color: white;
}
.social-comment .material-icons{
    font-size: 12px;
}
.social-comment .tit {
    font-size: 10px;
}

.social-likes {
    margin-left: 20px;
    color: white;
}
.social-likes i {
    font-size: 12px;
}
.social-likes span {
    font-size: 10px;
}



.header-slide-bar .right {
    /* background-color: red; */
    /* opacity: .2; */
    height: 100%;
    width: 89px;
    align-items: center;
    display: flex;
    justify-content: end;
    /* float: right; */
}

.header-slide-bar .left .prev,
.header-slide-bar .right .next {
    cursor: pointer;
    padding: 16px;
    margin-top: -70px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.prev {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.next {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}























/*
*
*   Body Content
*
*/


/* Body Header */
.body-header {
    /* background-color: red; */
    width: 100%;
    height: 60px;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    
    box-shadow: .5px .5px 6px grey;
}

.body-header-category {
    /* background-color: aquamarine; */
    width: 1170px;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0%;
}

.body-header-category span{
    font-size: 14px;
}

.body-category-heading {
    font-weight: bold;
}

.body-category-title {
    background-color: aliceblue;
    margin-left: 20px;
    padding: 8px 25px;
    border-radius: 20px;
}

.round{
    border: 1px solid blue;
}

/* Body Content */

.body-content {
    background-color: red;
    width: 100%;
    height: 1500px;
    justify-content: center;
    display: flex;
}

.body-items {
    background-color: aquamarine;
    width: 1170px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

.left-body-items {
    background-color: darkgoldenrod;
    margin-top: 20px;

}

.item-1 {
    background-color: darkgoldenrod;
    width: 120px;
    height: 30;
}
