
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Montserrat";
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

.header {
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}

a {
    text-decoration: none;
}

/*
    Black Header Style
*/

.head-container{
    background: black;
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    display: flex;  
}

.custome-box{
    padding: 0;
    margin: 0;
    width: 1170px;
    /* background: red; */
    
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.container-icon a{
    text-decoration: none;
    margin-right: 10.6px;
}

.container-icon a:hover,
.container-icon a i:active,
.container-icon a i:hover{
    color: white;
}

.custome-icons{
    color: gray;
    font-size: 15px;
}

.custome-text{
    color: gray;
    margin-left: 4px;
    text-decoration: solid;
    font-family: 'Montserrat';
    font-size: small;
    font-style: normal;
}

#btnLanguage,
#btnSignIn {
    text-decoration: none;
    vertical-align: middle;
    color: gray;
}

.custome-text-language:hover,
.custome-text-language:active,
.custome-text-signin:hover,
.custome-text-signin:active,
#btnLanguage:hover,
#btnLanguage:active,
#btnSignIn:hover,
#btnSignIn:active,
.custome-text-language:hover,
.custome-text-language:active,
.custome-text-signin:hover,
.custome-text-signin:active,
.right-icons:hover,
.right-icons:active
{
    text-decoration: none;
    vertical-align: middle;
    color: white;
}


#btnLanguage:hover,
#btnLanguage:active,
.custome-text-language:hover,
.custome-text-language:active {
    text-decoration: none;
    vertical-align: middle;
    color: white;
}


/* #btnLanguage:link,
#btnLanguage:visited,
.custome-text-language:link,
.custome-text-language:visited
{
    text-decoration: none;
    color: gray;
}

#btnLanguage:hover,
#btnLanguage:active,
.custome-text-language:hover,
.custome-text-language:active
{
    color: white;
    text-decoration: none;
    font-style: normal;
}

#btnSignIn:link,
#btnSignIn:visited,
.custome-text-signin:link,
.custome-text-signin:visited
{
    color: gray;
    text-decoration: none;
}

#btnSignIn:hover,
#btnSignIn:active,
.custome-text-signin:hover,
.custome-text-signin:active
{
    color: white;
    text-decoration: none;
} */


.right-icons {
    color: gray;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    align-self: center;
}

.custome-text-signin,
.custome-text-language {
    font-size: 11px;
    margin-top: 2px;
    letter-spacing: 0.1px;
    word-spacing: 2.2px;
    font-family: 'Montserrat';
}

.vertical-line {
    border-right: 1px solid gray;
    margin-right: 13px;
    margin-left: 9px;
    height: 40px;
    align-items: center;
    vertical-align: middle;
}



.custome-icons:hover,
.custome-text:hover{
    color: white;
}

.custome-right-links:link,
.custome-right-links:visited{
    text-decoration: none;
    color: gray;
}

.custome-right-links:active,
.custome-right-links:hover{
    color: white;
}









/* 
    Main Header Style
*/

.header-content {
    height: 800px;
    width: 100%;
    background:
     linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url('../assets/img/Pasco_Free_Sample_Blog.png');
    
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-flow: column;
}

.header-menu-bar{
    /* background-color: blue; */
    /* background: rgba(
        0,0,0,.3
    );
    color: black; */
    height: 70px;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0;
}

.header-menu-bar .custom-brand-link{
    /* background-color: red; */
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: -6px;
}

.custome-brand-text {
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 24px;
}

.header-menus{
    align-items: center;
    align-content: center;
    display: flex;
}

.header-menus a{
    color: white;
}

.menus {align-items: flex-start;justify-items: flex-start;display: flex;}

.line{
    border-left: 1px solid white;
    height: 30px;
    align-items: center;
    text-align: center;
    display: inline-flex;
    /* margin-bottom: 2px; */
}

.right-menu-bar{display: flex;height: 30px;padding-right: 6px;}
.right-menu-bar a{display: block;width: 45px;padding-top: 4px;border-right: 1px solid #5b5b5b;}
.right-menu-bar a:last-of-type{border-right: none;}


.custome-menu-icons{
    font-size: 24px;
    align-items: center;
    align-content: center;
    /* align-self: center; */
    /* display: inline-flex; */
}

#features-icon{
    margin-right: 46px;
    letter-spacing: 0.5px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#features-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#features-icon .menu-icon {
    font-size: 10px;
}


#components-icon{
    margin-right: 27px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#components-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#components-icon .menu-icon {
    font-size: 10px;
}

#shop-icon{
    margin-right: 26px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#shop-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#shop-icon .menu-icon {
    font-size: 10px;
}

#shop-icon{
    margin-right: 25px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#shop-icon .menu-text {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#shop-icon .menu-icon {
    font-size: 10px;
}



#pages-icon{
    margin-right: 27px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#pages-icon .menu-text {
    font-size: 14px;
    margin-right: 9px;
    font-weight: bold;
}
#pages-icon .menu-icon {
    font-size: 10px;
}



#blog-icon{
    margin-right: 29px;
    letter-spacing: 0.3px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#blog-icon .menu-text {
    font-size: 14px;
    margin-right: 9px;
    font-weight: bold;
}
#blog-icon .menu-icon {
    font-size: 10px;
}


#portfolio-icon{
    margin-right: 27px;
    letter-spacing: 0.2px;
    align-items: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    justify-content: center;
}
#portfolio-icon .menu-text {
    /* background-color: aqua; */
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#portfolio-icon .menu-icon {
    /* background-color: aqua; */
    font-size: 10px;
}



#home-icon{
    /* background-color: blue; */
    margin-top: 2px;
    margin-right: 26px;
    letter-spacing: 0.2px;
    padding-left: 14px;
    align-items: center;
    height: 64px;
    border-bottom: 4px solid #ff3f81;
    display: inline-flex;
    /* margin-bottom: -3px; */
}
/* #home-icon .home-div {
    background-color: brown;
    line-height: 66px;
    border-bottom: 4px solid #ff3f81;
    padding-left: 14px;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    display: inline-flex;
    margin: 0;
} */
#home-icon .menu-text {
    /* background-color: aqua; */
    /* align-items: center; */
    /* align-content: flex-end; */
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 2px;
}
#home-icon .menu-text {
    /* background-color: aqua; */
    /* align-items: center; */
    /* align-content: flex-end; */
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
#home-icon .menu-icon {
    align-items: center;
    align-content: center;
    font-size: 10px;
    /* margin-top: 5px; */
}



/* Slider Header */

.header-slide-bar{
    /* background-color: aqua; */
    height: 730px;
    width: 100%;
    /* opacity: .2; */
    display: inline-flex;
    justify-content: center;
    flex-flow: row;
    
}


.header-slide-bar .left {
    /* background-color: red; */
    /* opacity: .2; */
    height: 100%;
    width: 90px;
    /* float: left; */
    align-items: center;
    display: flex;
    justify-content: start;
}


.header-slide-bar .center {
    /* background-color: blue; */
    /* opacity: .2; */
    width: 1170px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    margin-top: 210px;
}
.center .content-title{
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.4px;
}
.center .content-body{
    /* background-color: blue; */
    color: white;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    padding: 8px 10px;
    letter-spacing: 1px;
    word-spacing: 3.2px;
}

.btn-readMore {
    /* background-color: blueviolet; */
    color: white;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    margin-top: 10px;
}

.readMore {
    background-color: blue;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    margin: 6px 2px;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 0.8px;
}

.header-bottom-user-img {
    text-align: center;
    margin-top: 70px;
}
.header-bottom-user-img .user-img {
    /* background-color: blue; */
    border-radius: 50%;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
}
.center .user-title {
    margin-top: 14px;
    margin-right: 4px;
    color: white;
    font-size: 14px;
    word-spacing: 0.3px;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.center .user-body {
    margin-top: 8px;
    color: white;
    font-size: 12px;
    /* font-weight: 200; */
    word-spacing: 1.6px;
    letter-spacing: 0.6px;
}
.center .bottom-user-info {
    /* border: 1px solid black; */
    margin-top: 31px;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
}

.bottom-user-info div{
    /* margin: 0px 12px; */
    /* border: 1px solid black; */
    align-items: center;
}

.social-comment {
    /* background-color: aqua; */
    /* text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center; */
    /* margin-right: 20px; */
    color: white;
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.social-comment .material-icons{
    font-size: 16px;
}
.social-comment .tit {
    font-size: 12px;
    margin-left: 3px;
    letter-spacing: 0.6px;
}

.social-likes {
    margin-left: 14px;
    margin-right: 18px;
    color: white;
    cursor: pointer;
}
.social-likes i {
    font-size: 14px;
}
.social-likes span {
    font-size: 12px;
    margin-left: 1.6px;
    letter-spacing: 0.6px;
}



.header-slide-bar .right {
    /* background-color: red; */
    /* opacity: .2; */
    height: 100%;
    width: 89px;
    align-items: center;
    display: flex;
    justify-content: end;
    /* float: right; */
}

.header-slide-bar .left .prev,
.header-slide-bar .right .next {
    cursor: pointer;
    padding: 16px;
    margin-top: -70px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.prev {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.next {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}























